{% extends "auctions/layout.html" %}

{% block title %}
  Listing: {{ listing.title }}
{% endblock %}

{% block body %}

  {% if user.is_authenticated and user.username == listing.winner %}
    <h1 style="color: blue;">Congratulations, you are the winner of this auction!</h1>
  {% endif %}

  {% if listing.closed %}
    <h3 style="color: red;">This listing has ended.</h3>
  {% endif %}

  {% if user.is_authenticated %}
    <form action="{% url 'watch' listing.id %}" method="POST">
      {% csrf_token %}
      {% if watching %}
        <input type="text" value="watching" name="watch" hidden>
        <button class="btn btn-outline-secondary btn-sm" type="submit">Watching</button>
      {% else %}
        <input type="text" value="watch" name="watch" hidden>
        <button class="btn btn-info btn-sm" type="submit">Watch</button>
      {% endif %}
    </form>
  {% endif %}

  <h1>{{ listing.title }}</h1>
  
  {% if listing.photoURL %}
  <img src="{{ listing.photoURL }}" alt="Photo of {{ listing.title }}" width="600">
  {% else %}
    <p>No photo available.</p>
  {% endif %}

  <h5>Description:</h5>
  <p>{{ listing.description }}</p>
  
  {% if high_bid %}
    {% if listing.closed %}
      <h5>Winning Bid:</h5>
    {% else %}
      <h5>Current bid:</h5>
    {% endif %}
    <p>${{ high_bid.bids }}</p>
  {% else %}
    <h5>Starting Bid:</h5>
    <p>${{ listing.starting_bid }}</p>
  {% endif %}
  
  <form action="{% url 'listing_view' listing.id %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      {% if high_bidder %}
        <label for="bid">
          {{ bid_count }} bid(s) so far.  
          {% if high_bidder == user %}
            You are the highest bidder.
          {% else %}
            You are not the highest bidder.
          {% endif %}
        </label>
      {% else %}
        <label for="bid">0 Bids so far.</label>
      {% endif %}
      <input class="form-control" type="number" name="bid" id="bid" max="9999999999" placeholder="Your Bid" required>
    </div>
    <input type="text" name="listing_id" value="{{ listing.pk }}" hidden>
    {% if user != listing.user %}
    <button 
      class="btn btn-primary" 
      type="submit" 
      {% if not user.is_authenticated or listing.closed %}
        disabled
      {% endif %}>
        Place Bid
    </button>
    {% endif %}
  </form>

  <h5 style="color: red;">{{ message }}</h5>


  <form action="{% url 'close_auction' listing.id %}" method="POST">
    {% csrf_token %}
    <input type="text" name="listing_id" value="{{ listing.id }}" hidden>
    {% if user == listing.user and listing.highest_bid %}
      <input type="text" name="user_action" value="end" hidden>
      <button 
        class="btn btn-danger"  
        type="submit"
        {% if listing.closed %}
          disabled
        {% endif %}>
          End Auction
        </button>
    {% else %}
      {% if user == listing.user %}
        <input type="text" name="user_action" value="delete" hidden>
        <button class="btn btn-danger" type="submit">Delete Listing</button>
      {% endif %}
    {% endif %}
  </form>

  <h5 style="margin-top: 1rem;">Details:</h5>
  <ul>
    <li>Listed by: {{ listing.user }}</li>
    <li>Category: 
      {% if listing.category != "Optional" %}
        {{ listing.category }}
      {% else %}
        No Category Listed
      {% endif %}
    </li>
    <li>Date Listed: {{ listing.date_created }}</li>
  </ul>

{% endblock %}