{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table table stripped">
      <thead class="thead-dark">
        <th scope="col">Symbol</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">Transacted</th>
      </thead>
      <tbody>
        {% for stock in history %}
          <tr>
            <td>{{ stock.symbol }}</td>
            <td>{{ stock.shares }}</td> 
            <td>{{ stock.price }}</td>
            <td>{{ stock.transacted }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
