{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <p>{{ message }}</p>
    <img alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/CsCgN7Ll.png" title="{{ top }}">
    <div>
        <a href="/">
            <button class="btn btn-primary">Login</button>
        </a>
        <a href="/register" class="button btn-primary">
            <button class="btn btn-primary">Register</button>
        </a>
    </div>
{% endblock %}
