{% if user.is_authenticated %}
    <div class="card">
        <div class="card-body">
            <form action="{% url 'post' %}" method="POST" id="new-post-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="new-post">New Post</label>
                      <textarea name="new-post" id="new-post" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
{% endif %}

{% for post in data %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"><a class="user" href="{% url 'profile' post.post.user %}">{{ post.post.user }}</a></h5>
            <p class="card-text" id="post-{{ post.post.id }}">{{ post.post.post }}</p>
            <div id="edit-post-{{ post.post.id }}" class="edit-post">
                <form class="edit-post-form">
                    {% csrf_token %}
                    <div class="form-group">
                          <textarea name="edit-post" id="edit-{{ post.post.id }}" class="form-control" rows="3">{{ post.post.post }}</textarea>
                          <input type="text" value="{{ post.post.id }}" name="post-id" hidden>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
            <p class="text-muted">{{ post.post.date_created }}</p>
            {% if user == post.post.user %}
                <p  id="show-edit-{{ post.post.id }}"
                    class="edit"
                    data-post_id="{{ post.post.id }}"
                >Edit</p>
            {% endif%}
            <p  class="like" 
                data-post_id="{{ post.post.id }}"
                data-post_user="{{ post.post.user.id }}"
                data-user="{{ user.id }}"
                >❤️ <span id="likes-{{ post.post.id }}" class="text-muted"
            >({{ post.likes }})</span></p>
        </div>
    </div>
{% empty %}
    <p id="no-posts">No posts yet.</p>
{% endfor %}

{% if data %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if data.has_previous %}
                <li class="page-item">
                    <a href="?page={{ data.previous_page_number }}" class="page-link">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item" {% if data.number == 1 %} active {% endif %}>
                    <a href="?page=1" class="page-link">1</a>
                </li>
            {% endif %}
                
            <li class="page-item active">
                <a href="?page={{ data.number }}" class="page-link">{{ data.number }}</a>
            </li>
            
            {% if data.has_next %}
                <li class="page-item" {% if data.number == data.paginator.num_pages %} active {% endif %}>
                    <a href="?page={{ data.paginator.num_pages }}" class="page-link">{{ data.paginator.num_pages }}</a>
                </li>
                <li class="page-item">
                    <a href="?page={{ data.next_page_number }}" class="page-link">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}